@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/*Variables*/
:root {
  --grey-color: #909090;
  --columns: 4vw repeat(12, 1fr) 4vw;
}



body {
	margin : 0px;
	background-color: black;
	color:white;
	font-family: 'Oswald', sans-serif;
}


/*Taille & Polices*/
h1 {
	font-size: 3.5rem;
	line-height: 3.2rem;
	text-transform: uppercase;
}

#accueil p, #contact h2 ~ p {
	font-size: 2.32rem;
	color: var(--grey-color);
}

/*Loader*/
.loader {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
}

.loader p {
	color: white;
	font-size: 8vw;
	text-transform: uppercase;

}

/*Header*/

header{
	padding-top: 4vh;
}

li {
	list-style: none;
	margin-right: 4vw;
	text-align: right;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1.3rem;

}

a{
	text-decoration: none;
}

a, a:visited, a:hover, a:active {
	color: var(--grey-color);
}



/*Section accueil*/
section#accueil {
	display : grid;
	height: 100vh;
	grid-template-columns: var(--columns);
	grid-template-rows: auto auto auto auto 1fr;
	grid-gap: 10px;
}

#accueil h1{
	grid-column: 2/14;
	margin: 0;
	margin-top: 60px;
	line-height: 3.2rem;
}

#accueil p{
	grid-column: 2/14;
	margin: 0;
	margin-top: -15px;
}

#accueil .reseaux{
	grid-column: 2/7;
	margin-bottom: 10px;
	margin-top: -8px;
}

#accueil .illustration{
	grid-column: 2/14;
	margin-top: 50px;
	height: 35vh;
	overflow: hidden;
}

#accueil .illustration video {
	position: relative;
	top: -400px;
}

#accueil > a{
	grid-column: 2/14;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.reseaux a:hover{
	cursor: default;	
}

#accueil > a img {
	margin-top: 4vh;
	height: 8vh;
}

.icone_res{
	width: 40px;
	margin-right: 5px;
	overflow: hidden;
	transition: all .8s ease;
}

.icone_res:hover{
	fill: red;
	transform: rotate(360deg) scale(0.9);
}


/*Section news*/
section#last_news{
	display: none;
}


/*Section à propos*/
section#contact{
	display : grid;
	height: 80vh;
	grid-template-columns: var(--columns);
	grid-gap: 10px;
}

#contact div{
	grid-column: 2/14;
}

#contact h3{
	font-size: 2.5rem;
}

#contact div p {
	font-family: 'IBM Plex Sans', sans-serif;
	margin-top: 40px;
	font-size: 1.1rem;
}

/*Footer*/
footer{
	margin-top: 4vh;
	display: grid;
	grid-template-columns: var(--columns);
	grid-template-rows: 70px 30px;
	grid-gap: 10px;
}

footer .reseaux{
	grid-column: 2/5;
	grid-row: 1;
	align-self: center;
}

footer div:nth-of-type(2){
	grid-column: 10/14;
	grid-row: 1;
}

footer > p{
	grid-row: 2;
	grid-column: 2/14;
	font-size: 0.8rem;
	color: var(--grey-color);
	justify-self: center;
	align-self: center;
	font-family: 'IBM Plex Sans', sans-serif;
}

footer div:nth-of-type(2) p:nth-of-type(1){
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.4rem;
	color: var(--grey-color);

}

footer div:nth-of-type(2) p:nth-of-type(2){
	margin: 0;
	margin-top: 2px;
	font-size: 3vw;
	line-height: 2.4rem;
	text-transform: uppercase;
}




/*Redimensionnement modbiles*/
@media  (max-width: 768px){

	body{
		font-size: 70%;
	}

	.mobile-hide{
		display:none;
	}

	/*Section accueil*/
	section#accueil {
		height: 95vh;
	}
	#accueil h1{
		grid-column: 2/14;
		margin-top: 20px;
		font-size: 7vh;
		line-height: 6.3vh;
	}

	#accueil p{
		grid-column: 2/14;
		font-size: 3.5vh;
		margin-top: 0px;
	}

	#accueil .reseaux{
		margin-top: 3px;
		grid-column: 2/14;
		margin-bottom: 5vh;
	}

	#accueil .illustration{
		height: 26vh;
	}

	#accueil > a img {
    	margin-top: 12vh;
    }

	.icone_res{
		margin-right: 2vw;

	}

	/*Section à propos*/
	section#contact{
		height: 90vh;
		font-size:2.5vh;
	}

	#contact div {
	grid-column: 2/14;
	}

	/*Section footer*/
	footer{
		margin-top: 8vh;
		grid-template-rows: 45px auto auto;
	}

	footer .reseaux{
		grid-column: 2/14;
		grid-row: 1;
		align-self: center;
	}

	footer div:nth-of-type(2){
		grid-column: 2/14;
		grid-row: 2;
		text-align: right;
	}


	footer div:nth-of-type(2) p:nth-of-type(2){
		font-size: 5vh;
	}

	footer > p{
		grid-column: 2/14;
		grid-row: 3;
	}
}





